/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/

html {
	height: 100%;
	
}

body {
	position: relative;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

.main-container {
	text-align: center;
	margin: auto;
	position: absolute;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
}

/*static header styling*/

header {
	font-size: 50px;
}

.break {
	height: 2.5em;
	width: 10em;
	margin: 2em 0 2em;
}

/*special font*/
header, .rules-list span, .cold-feedback, .hot-feedback  {
	font-family: 'Unica One', serif;
}

/*universal button styling*/
.button {
	display: inline-block;
	background-color: white;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.button:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}

/*start screen button styling*/
.what-button, .start-button {
	padding: 1em;
	border: .2em solid black;
}

.what-button {
	margin-right: 1em;
}

/*how to play pop-up styling*/
.what-box {
	display: none;
	width: 300px;
	margin: 0 auto;
	border: 3px solid black;
	padding: 15px;
}

.what-box h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.what-box p {
	text-align: justify;
	margin-bottom: 1em;
	font-weight: bold;
}

.rules-list {
	list-style: decimal inside;
	text-align: left;
}

.rules-list span {
	font-weight: bold;
}

.rules-list li {
	margin: .5em auto;
}

.close-button {
	padding: .3em;
	margin: 1em auto 0;
	font-size: .8em;
	border: 2px solid black;
}

/*game styling*/
.game-container {
	display: none;
}

.game-play {
	width: 400px;
	min-height: 275px;
	position: relative;
	margin: 0 auto
}

/*feedback styling*/
.cold-feedback, .hot-feedback {
	display: inline-block;
	font-weight: bold;
	position: absolute;
	margin-top: 11px;
}

.hot-feedback {
	left: 0;
	margin-left: 249px;
}

.cold-feedback {
	right: 0;
	margin-right: 249px;
}

.cold-feedback p, .cold-feedback img, .hot-feedback p, .hot-feedback img {
	display: inline;
	vertical-align: middle;
}

.cold-feedback p,.hot-feedback p {
	font-size: 1.5em;
}

.cold-feedback img, .hot-feedback img {
	width: 1em;
}

/*guess form styling*/
#userGuess {
	margin: 0 auto;
	padding: .1em;
	width: 80px;
	font-size: 2em;
	border: 3px solid black;
	display: inline;
	text-align: center;
}

#userGuess:focus {
	outline: none;
}

/*submit button styling overriding some universal button styling*/
#guessButton {
	display: block;
	padding: .4em .3em .2em .3em;
	margin: 1em auto;
	font-size: 1em;
	border: 3px solid black;
	background-color: black;
	color: white;
}

/*styling for container holding user guesses*/
.guess-container {
	width: 377px;
	margin: 2em auto;
	padding: .5em;
	font-size: 1.3em;
	border: 1px dashed black;
	display: none;
	text-align: left;
}

#guessList li {
	display: inline-block;
	margin: .5em;
	border: 2px solid black;
	padding: 3px;
}

/*text styling for tagline and start-over link*/
.top-text, .start-over {
	font-size: 1.3em;
}

.top-text {
	margin-bottom: 2.5em;
	font-style: italic;
}

/*start over link styling*/
.start-over {
	margin-top: 3em;
	display: block;
	color: black;
	text-decoration: underline;
}
